@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../base/animaciones" as *;

%header-foot{
    position: relative;
    width: 100%;
    background-color: $color-fondo;
}

