@use "../utilities/variables" as *;
@keyframes moverLogoMobile {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
    }
    100%{
        top: 15px;
        left: 15px;
        transform: translate(0, 0) scale(0.8);
    }
}
@keyframes moverLogoDesktop {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.5);
    }
    100% {
        top: 25px;
        left: 25px;
        transform: translate(0, 0) scale(1);
    }
}